* body{
	box-sizing: border-box;
/*	background-color: green;
*/}

.container{
	border: 1px black solid;
	background: lightgreen;
	margin-bottom: 20px;
	width: 100%;
	text-align: center
}


.heading{
	border: 1px gray solid;	
	margin-left: auto;
	margin-right: auto;
}

.search-form{
	border: 1px gray solid;	
	margin-left: auto;
	margin-right: auto;
}

.search-form, .heading, .results{
	padding: 20px;
}

.results{
	border: 1px black solid;
	background: lightgreen;
/*	margin-top: 20px;
*/	position: relative;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	height: 600px;
}

.result-details{
/*	margin-top: 20px;
	border: 1px black solid; */
	background: lightgreen;
	position: relative;
	float: left
}

#map {
    height: 600px;
    margin: 20px;
  }

/*repsonsive styling*/
  .col-4 {
  	width: 33%;
  }

  .col-8{
  	width: 75%;
  }






